body{
    width: 480px;
    margin: auto;
}
div{
    height: 300px;
    border: solid 2px black;
    background: #888;
    box-sizing: border-box; 
    text-align: center;
    line-height: 50px
  }     

#a{
    height: 75px;
    line-height: 75px;
    background: rgb(11, 80, 11);
}  
#b{
    height: 150px;
    line-height: 150px;
    background: violet;
}
#c, #d{
    height: 125px;
    line-height: 125px;
    background: aqua;
}
#d {
    background: teal;
}
#e, #f, #g, #h{
    height: 250px;
    line-height: 250px;
    width: 240px;
    float: left;
    background: aliceblue;
}
#f{
    background: #222;
}
#g{
    background:#333;
}
#h{
    background:#888;
}
@media (max-width: 959px){
#i{
    clear: left;
    height: 80px;
    line-height: 80px;
    width: 100%;
    background: crimson;
}
}
  @media (min-width: 960px) {
    /* I can contain the divs */
    body {
      width: 960px;
    }
    
    div {
      background-color: blue;
      height: 300px;
      line-height: 300px;
      border: solid 2px black;
      background: #999;
      box-sizing: border-box;
    }
    #a{
        background: maroon;
    }
    #b{
        width: 200px;
        height: 600px;
        line-height: 600px;
        float: left;
        background: skyblue;
    }
    #c, #d{
        height: 200px;
        line-height: 200px;
        width: 380px;
        float: left;
        background: seagreen;
    }
    #d{
        background: greenyellow;
    }
    #e, #f, #g, #h{
        height: 250px;
        line-height: 250px;
        width: 190px;
        float: left;
        background: blue;
    }
    #f{
        background:darkblue;
    }
    #g{
        background: darkcyan;
    }
    #h{
        background: darkgoldenrod;
    }
    
    #i{
        float: left;
        height: 150px;
        line-height: 150px;
        width: 760px;
        background: green;
    }
  }
  